* {
    margin: 0;
    font-family: Lato;
}

.header-banner-container {
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    padding: 50px 120px 0px 120px;
    align-items: center;
    justify-content: space-between;
}

.header-title {
    color: #272727;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 10px;
}

.header-des {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 20px;
    width: 500px;
}

.header-img {
    width: 320px;
    height: 400px;
}

.btn {
    background-color: #E55473;
    color: white;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
}

.bonus {
    margin-top: 120px;
    padding: 0px 120px 0px 120px;
    text-align: center;
    font-family: Lato;

}

.bonus-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
}

.bonus-des {
    margin-top: 30px;
    padding: 0 200px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}

.bonus-container {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;

}

.bonus-img-1 {
    padding: 70px 30px 0px 30px;
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 150px 150px 0 0;
    width: 250px;
    height: 290px;
}

.bonus-img-2 {
    padding: 70px 30px 20px 30px;
    background-color: rgba(5, 151, 160, 0.15);
    border-radius: 150px 150px 0 0;
    width: 250px;
    height: 270px;

}

.bonus-img-3 {
    padding: 70px 30px 0px 30px;
    background-color: rgba(71, 125, 17, 0.15);
    border-radius: 150px 150px 0 0;
    width: 250px;
    height: 290px;
}

.bonus-pic-des {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px 0px 100px;
}

.bonus-pic-name {
    color: #272727;

    font-size: 15px;
    font-style: normal;
    text-decoration-line: underline;
}

.delivery-container {
    margin: 100px 120px 0px 120px;
    text-align: center;
    display: flex;
    padding: 80px 150px;
    border-radius: 5px;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(39, 39, 39, 0.05);
}
.delivery-des{
    padding-top: 30px;
}

.hot-deal-container {
    margin-top: 100px;
    padding: 70px 250px 70px 250px;
    justify-content: space-between;
    gap: 100px;
    background-color: rgba(229, 84, 115, 0.10);
    align-items: center;
    display: flex;
}

.hot-deal-des {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 15px;
    font-style: normal;
    padding-bottom: 20px;
}

.hot-deal-title {
    padding-bottom: 20px;
    color: #272727;
    font-size: 35px;
    font-style: normal;
}

.hot-deal-info {
    text-align: center;
}

.hot-deal-pic {
    width: 200px;
}

.off {
    color: #E55473;
}

.social-media {
    margin-top: 100px;
}

.social-media-des {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-style: normal;
    text-align: center;
    padding-top: 20px;
    margin: auto;
    width: 500px;
}

.social-media-container {

    display: flex;
    justify-content: space-around;
    padding: 50px 120px 0px 120px;

}

.social-media-content {
    width: 250px;
}

.follow-banner {
    border-radius: 5px;
    margin: 100px 130px 0px 130px;
    background-image: url('../images/Rectangle\ 9.png')
}

.follow-info {
    text-align: center;
    /* align-items: center; */
    padding: 130px 0 130px 0;
}

.follow-title {
    padding: 10px;
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;

}

.follow-des {
    padding-bottom: 35px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}

.input-box {
    padding: 10px 20px;
    border: 0;
    width: 400px;
    border-radius: 5px;
    margin: 0 5px 0 5px;
}

.extra-sect-content{
    margin-top: 100px;
    text-align: center;
}
.extra-sect{
    border-radius: 10px;
    box-shadow:whitesmoke 0px 0px 10px 20px;
}
footer {
    margin-top: 100px;
    background-color: black;
    text-align: center;
    padding: 120px 0;
    color: rgba(255, 255, 255, 0.90);
}
.footer-title{
    font-size: 35px;
}
.footer-title>span {
    color: #E55473;
    font-size: 35px;
}

.footer-details {
    text-align: center;
    margin: auto;
    padding-top: 25px;
    font-size: 15px;
    width: 500px;
}
.stories{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    padding: 10px;
    border: 0;
    margin-right: 10px;
    box-shadow: 5px 5px rgb(241, 234, 234) ;
    
}
.story-title{
    padding: 10px 0px;
}

.copyright {
    padding-top: 25px;
    color: rgba(255, 255, 255, 0.40);
    font-size: 13px;
}