* {
    margin: 0;
    font-family: Lato;
}

.header-banner-container {
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    padding: 50px 120px 0px 120px;
    align-items: center;
    justify-content: space-between;
}

.header-title {
    color: #272727;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 10px;
}

.header-des {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 10px;
    width: 500px;
}

.header-img {
    width: 320px;
    height: 400px;
}

.btn {
    background-color: #E55473;
    color: white;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
}

.bonus {
    margin-top: 120px;
    padding: 0px 120px 0px 120px;
    text-align: center;
    font-family: Lato;

}

.bonus-title {
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
}

.bonus-des {
    margin-top: 30px;
    padding: 0 200px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}

.bonus-container {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;

}

.bonus-img-1 {
    padding: 70px 30px 0px 30px;
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 150px 150px 0 0;
    width: 250px;
    height: 290px;
}

.bonus-img-2 {
    padding: 70px 30px 20px 30px;
    background-color: rgba(5, 151, 160, 0.15);
    border-radius: 150px 150px 0 0;
    width: 250px;
    height: 270px;

}

.bonus-img-3 {
    padding: 70px 30px 0px 30px;
    background-color: rgba(71, 125, 17, 0.15);
    border-radius: 150px 150px 0 0;
    width: 250px;
    height: 290px;
}

.bonus-pic-des {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px 0px 100px;
}

.bonus-pic-name {
    color: #272727;

    font-size: 12px;
    font-style: normal;
    text-decoration-line: underline;
}

.hot-deal-container {
    margin-top: 100px;
    padding: 70px 250px 70px 250px;
    justify-content: space-between;
    gap: 100px;
    background-color: rgba(229, 84, 115, 0.10);
    align-items: center;
    display: flex;
}

.hot-deal-des {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 15px;
    font-style: normal;
    padding-bottom: 20px;
}

.hot-deal-title {
    padding-bottom: 20px;
    color: #272727;
    font-size: 35px;
    font-style: normal;
}
.hot-deal-info{
    text-align: center;
}
.hot-deal-pic{
    width: 200px;
}
.off{
    color: #E55473;
}

.social-media-container{
    display: flex;
    justify-content: space-around;
    padding: 50px 120px 0px 120px;
    
}
.social-media-content{
    width: 250px;
}
.follow-banner{
    margin: 50px 130px 0px 130px;
    background-image: url('../images/Rectangle\ 9.png')
}
.follow-info{
    text-align: center;
    align-items: center;
}

